/*Selector Universal*/
*{
    box-sizing: border-box;
}
/*Selector Universal*/

/*Generales*/
li{
    list-style: none;
}
body{
    background-image: linear-gradient(#6c6cff, #6b3636);
}

h4, h5, h1 {
    font-family:'Josefin Sans', sans-serif;
}
/*Generales*/

/*Header*/
header{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
form{
    justify-content: left;
}
.header, a{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
}
form, input, button{
    font-family: 'Josefin Sans', sans-serif;
    align-self: center;
    color: white;
    margin: 1px;
    margin-top: 0px;
    padding: 9px;
    border: 0px white solid;
    border-radius: 50px;
}
button{
    color: black;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 20px;
}
.pre{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    background-color: none;
    margin: 10px;
    letter-spacing: 3px;
    text-align: right;
}
/*Header*/

/*Footer*/
footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    margin: 16px;
    display: flex;
    align-items: flex-end;
    padding-top: 80px;
    color: white;
    word-spacing: 2px;
}
.foot{
    color:white;
    text-decoration: none;
    margin-left: 1%;
}
i{
    margin: 4px;
}
/*Footer*/

/*Home*/
.prese {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    font-size: 90px;
    letter-spacing: 10px;
    margin: 56px;
}
.presen{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    letter-spacing: 10px;
    margin: 56px;
    padding: 0px;
    line-height: 3px;
}
.pres{
    text-align: center;
    text-indent: -50px;
}
.track_home_conteiner {
    display: flex;
    flex-wrap:wrap;
    padding: 20px; 
}
.track_home {
    width: 20%;
    align-items: center;
}
.album_track_home_conteiner {
    display: flex;
    flex-wrap:wrap;
    padding: 20px;
}
.album_track_home {
    align-items: center;
    width: 20%;
}
.contenedor_artistas_home {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    padding: 20px;   
}
.artistas_home {
    width: 20%;
    text-align: center;   
}
h3 {
    font-family:'Josefin Sans', sans-serif;
    color: white;
}
.title_home {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 1%;
}
.track_home h5 a {
    color: rgba(245, 245, 245, 0.795);
    font-size: 15px;
}
.album_track_home  h5 a{
    color: rgba(245, 245, 245, 0.795);
    font-size: 15px;
}
.track_home img { 
    border-radius: 5%;
}
.album_home img {
    border-radius: 5%;
}
.artistas_home img {
border-radius: 50%;
}
/*Home*/

/*Detail.track*/
.track{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin:0px;
}
.img{
    padding: 9px;
}
.sey{
    padding: 15px;
}
.song{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 90px;
    letter-spacing: 5px;
    margin: 30px;
}
.eyes, .halsey, .hal, .si2, .lista2{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;
}
.si2{
    padding: 12px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}
.eyes{
    font-size: 45px;
}

/*Detail.track*/
.artist{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin:0px;
}
.imgartist{
    padding: 9px;
}
.contenido{
    padding: 15px;
}
.she{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 90px;
    letter-spacing: 5px;
    margin: 30px;
}
.she2, .toptracks, .top, .biblioteca, .she3{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 22px;
}
.toptracks , .top{
    margin: 6px;
}
.biblioteca{
    font-size: 45px;
    margin: 15px;
    text-indent: -2px;
}
.she3{
margin: 8px;
}
.halsi{
    padding: 12px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}
/*Detail.artist*/

/*Detail album*/
.info{
    padding: 15px;
}
.dom{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 30px;
}
.lista1{
    margin: 6px
}
.top{
    list-style: upper-roman;
}
/*Detail album*/

/*Detail Genres*/
.genres_titulo {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 80px;
    padding: 30px;
}

/*Página géneros*/
.contenedor_generos{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding: 15px;
}
.genres {
    width: 25%;
    text-align: center;
    padding-top: 25px;
}
.genres img {
    border-radius: 5%;
}
.genres h4 {  
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
}
.genres_titulo1 {
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 65px;
    padding: 20px;
}
/*Página géneros*/


/*Página playlist*/
.titulo-playlist{
    color: white;
    text-align: center;
    margin: 5%;
    font-size: 100px;
    padding: 30px;
}
.music-play{
    width: 100%;
    height: 80px;
    display: flex;
    background-image: linear-gradient(#6c6cff, #6b3636);
}
img{
    border-radius: 5%;
}
.play-img img{
    width: 70px;
    height: 68px;
    margin: 5px;
    border-radius: 5px;
}
.play-controls{
    width: 300px;
    height: 60px;
}
.controls{
    width: 285px;
    height: 50px;
    display: flex;
}
.song-name{
    width: 150px;
    height: 50px;
}
.song-name h5{
    margin-top: 20px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 6px;
}
.song-name p{
    font-size: 12px;
    margin-left: 10px;
    letter-spacing: 0.5px;
    color: lightgrey;
}
.play-icon{
    width: 150px;
    height: 20px;
}
.play-icon .fa{
    width: 30px;
    height: 30px;
    font-size: 13px;
    color: black;
    border-radius: 50px;
    background-color: lightgrey;
    margin: 15px 13px 0 auto;
    padding: 9px 11px;
    cursor: pointer;
}
.play-icon .fa-play{
    background-color: white;
}
.music-progress{
    width: 260px;
    margin-left: 10px;
}
.music-progress .progress{
    height: 2px !important;
    border-radius: 0 !important;
    background-color: lightgrey;
}
.music-progress .progress-bar{
    width: 0%;
    background-color: #6c6cff;
    animation: width 10s infinite;
}
/*Página playlist*/


/*Media queries*/
@keyframes width{
    100% {width:100%;}
}

/*Tablets*/
@media (max-width: 768px){
    /*Detail Track*/
    .eyesclosed{
        height: 10vh;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .track{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 50vh;  
    }
    .sey{
        width: 40vw;
    }

    /*Detail Album*/
    .dom{
        width: 45vw;
    }
    .artist{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
    }
    .info{
        width: 40vw;
    }
    .lista2{
        display: flex;
        flex-wrap: wrap;
        width: 50vw; 
    }
   
}

/*Mobile*/
@media (max-width: 420px){



    /*Home*/
    body.home {
        width: 80vh;
    }
    h1.prese {
        font-size: 80px;
        padding-top: 15%;
        margin: 0%;
    }
    h1.presen{
        letter-spacing: 0px;
        margin: 4%;
        padding-top: 5%;
        line-height: 0px;
        width: 100%;
    }
        
    section.pres{
        text-align: center;
        text-indent: 0px;
        padding-left: 5%;
        width: 100%;
        width: 80vh;
        padding-block-end: 30%;
    }

    .title_home {
        padding-left: 5%;
        width: 100%;
        width: 90vh;
       
    }
    .track_home_conteiner{
        align-items: center;
        padding: 1%;
        width: 100vh;
       
    }
    
    .track_home {
        width: 45%;
        margin: 2.5%;
        text-align: center;
    }
    
    .album_track_home_conteiner {
        align-items: center;
        padding: 1%;
        width: 100vh;
        
    
    }
    .album_track_home {
        width: 45%;
        margin: 2.5%;
        text-align: center;
    } 

    .contenedor_artistas_home {
        align-items: center;
        padding: 1%;
        width: 100vh;
    
    
    }
    .artistas_home  {
        width: 45%;
        margin: 2.5%;
        text-align: center;
        
    }
    
   

    /*detalle de género*/
    .genres_titulo {
        font-size: 60px;
        margin: 10%;
        align-items: flex-start;
        text-align: center;
        width: 80vh;
        padding-block-end: 20%;
       
    }

    /*géneros*/

    .genres_titulo1{
        font-size: 30px;
        margin: 10%;
        text-align: center;
        align-items: center;
        width: 90vh;
    }
    .contenedor_generos { 
        align-items: center;
        padding: 1%;
        width: 100vh;
    }
    .genres {
        width: 45%;
        margin: 2.5%;
        text-align: center;
    }
    
}

/*Media Queries*/
