/*Selector Universal*/
*{
    box-sizing: border-box;
}
/*Selector Universal*/

/*Header*/
header{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
}
img.logo{
    text-align: right;
}
p.header, a{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
}
/*Header*/

/*Footer*/
footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    margin: 16px;
    display: flex;
    align-items: flex-end;
    padding-top: 80px;
    color: white;
}
a.foot{
    color:white;
    text-decoration: none;
}
/*Footer*/

/*Home*/
body.presentacion{
    background-image: url(../img/fotomujercantando_auto_x2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
a.pre,a.pre2, a.pre3{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
    background-color: none;
    margin: 10px;
    letter-spacing: 3px;
    text-align: right;
}
section.pres{
    text-align: left;
    text-indent: -50px;
}
h1.prese, h3.presen{
    font-family:'Josefin Sans', sans-serif;
    color: white;
    text-align: left;
    font-size: 90px;
    letter-spacing: 10px;
    margin: 56px;
    align-items: flex-start;
}
h3.presen{
    font-size: 20px;
    padding: 0px;
    line-height: 3px;
}
section.artistas{
    display: flex;
    margin: 100px;
    padding: 6px;
    flex-direction: row;
}
img.artist{
    margin: 3px;
}
/*Home*/

/*Detail.track*/
body{
    background-color:	rgb(216, 191, 216) ;
}
section.track{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin:0px;
}
div.img{
    padding: 9px;
}
div.sey{
    padding: 15px;
}
h1.song{
    font-family:'Josefin Sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 90px;
    letter-spacing: 5px;
    margin: 30px;
}
h3.eyes, h4.halsey, a.hal, a.si2{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 22px;
}
a.si2{
    padding: 12px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}
h3.eyes{
    font-size: 45px;
}
/*Detail.track*/
section.artist{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin:0px;
}
div.imgartist{
    padding: 9px;
}
div.contenido{
    padding: 15px;
}
h1.she{
    font-family:'Josefin Sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 90px;
    letter-spacing: 5px;
    margin: 30px;
}
h4.she2, ol.toptracks, li.top, h3.biblioteca, h4.she3{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 22px;
}
ol.toptracks , li.top{
    margin: 6px;
}
h3.biblioteca{
    font-size: 45px;
    margin: 15px;
    text-indent: -2px;
}
h4.she3{
margin: 8px;
}
a.halsi{
    padding: 12px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}
/*Detail.artist*/

/*Detail album*/
div.info{
    padding: 15px;
}
h1.dom{
    font-family:'Josefin Sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 80px;
    letter-spacing: 3px;
    margin: 30px;
}
ul.lista1, ul.lista2{
    margin: 6px
}
