*{
    box-sizing: border-box;
}

/*Header*/
header{
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    background-color: black;
    margin: 0px;
    justify-content: space-around;
    padding: 0px;
}

p.header, a{
    letter-spacing: 2px;
    word-spacing: 2px;
    color: white;
    text-decoration: none;
}
/*Header*/

/*Footer*/
footer{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}
/*Footer*/

/*Detail.track*/
body{
    background-color:rgb(169, 169, 169) ;
}
section.track{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    margin:0px;
}
div.img{
    padding: 9px;
}
div.sey{
    padding: 15px;
}
h1.song{
    font-family:'Josefin Sans', sans-serif;
    color: black;
    text-align: left;
    font-size: 90px;
    letter-spacing: 5px;
}
h3.eyes, h4.halsey, a.hal, a.si2, h6.creds{
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-size: 22px;
}
a.si2{
    padding: 12px;
    background-color: black ;
    color: white;
    font-size: 18px;
    border-radius: 22px;
}
h3.eyes{
    font-size: 45px;
}
h6.creds{
    font-size: 15px;
    display: flex;
}
